In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore')

In [2]:
num = pd.read_csv('Scalling data/num_data_new.csv')
num.head()

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907
1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379
2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315
3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382
4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903

In [9]:
cat = pd.read_csv('encoded/data_enc_oh.csv')
cat.head()

,Unnamed: 0,TypeofContact_Self Enquiry,TypeofContact_Company Invited,Occupation_Salaried,Occupation_Free Lancer,Occupation_Small Business,Occupation_Large Business,Gender_Female,Gender_Male,Gender_Fe Male,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
pd.merge(num,cat,on="CustomerID",how="inner")

KeyError: 'CustomerID'