# Encoding (only for catagorical data)
1. Label Encoding or Ordinal Encoding
2. One-Hot Encoding
3. Effect Encoding
4. Binary Encoding
5. Base-N Encoding
6. Hash Encoding

In [9]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')

In [4]:
data = pd.read_csv('no_outliers/data_nooutliers1.csv')
data.head()

,Unnamed: 0.1,Unnamed: 0,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,...,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,0,0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,...,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,1,1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,...,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,2,2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,...,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,3,3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,...,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,4,4,200004,0,32.0,Self Enquiry,1,8.0,Small Business,Male,...,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [6]:
cat_data=data[[fea for fea in data.columns if data[fea].dtype == 'O']]

In [8]:
cat_data.head()

,TypeofContact,Occupation,Gender,ProductPitched,MaritalStatus,Designation
0,Self Enquiry,Salaried,Female,Deluxe,Single,Manager
1,Company Invited,Salaried,Male,Deluxe,Divorced,Manager
2,Self Enquiry,Free Lancer,Male,Basic,Single,Executive
3,Company Invited,Salaried,Female,Basic,Divorced,Executive
4,Self Enquiry,Small Business,Male,Basic,Divorced,Executive

In [10]:
import category_encoders as ce

## Label or ordinal encoding

In [12]:
data.TypeofContact.unique()

array(['Self Enquiry', 'Company Invited'], dtype=object)

In [13]:
enc_toc = ce.OrdinalEncoder(cols=['TypeofContact'],return_df=True,mapping = [{'col':'TypeofContact','mapping':{'Self Enquiry':0,'Company Invited':1}}])

In [20]:
data_enc_toc=enc_toc.fit_transform(cat_data)

In [22]:
data_enc_toc

,TypeofContact,Occupation,Gender,ProductPitched,MaritalStatus,Designation
0,0,Salaried,Female,Deluxe,Single,Manager
1,1,Salaried,Male,Deluxe,Divorced,Manager
2,0,Free Lancer,Male,Basic,Single,Executive
3,1,Salaried,Female,Basic,Divorced,Executive
4,0,Small Business,Male,Basic,Divorced,Executive
...,...,...,...,...,...,...
4874,0,Small Business,Male,Deluxe,Unmarried,Manager
4875,1,Salaried,Male,Basic,Single,Executive
4876,0,Salaried,Female,Standard,Married,Senior Manager
4877,0,Small Business,Male,Basic,Single,Executive
4878,0,Salaried,Male,Basic,Unmarried,Executive

## One Hot encoding

In [26]:
cat_data.columns

Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')

In [27]:
enc_oh = ce.OneHotEncoder(cols=['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],handle_unknown='return_nan',return_df=True,use_cat_names=True)

In [29]:
data_enc_oh = enc_oh.fit_transform(cat_data)

In [30]:
data_enc_oh

,TypeofContact_Self Enquiry,TypeofContact_Company Invited,Occupation_Salaried,Occupation_Free Lancer,Occupation_Small Business,Occupation_Large Business,Gender_Female,Gender_Male,Gender_Fe Male,ProductPitched_Deluxe,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4875,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4876,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4877,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4878,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

## Effect encoding

In [31]:
enc_effect = ce.sum_coding.SumEncoder(cols=cat_data.columns,verbose=False)

In [33]:
data_enc_effect = enc_effect.fit_transform(cat_data)

In [34]:
data_enc_effect

,intercept,TypeofContact_0,Occupation_0,Occupation_1,Occupation_2,Gender_0,Gender_1,ProductPitched_0,ProductPitched_1,ProductPitched_2,ProductPitched_3,MaritalStatus_0,MaritalStatus_1,MaritalStatus_2,Designation_0,Designation_1,Designation_2,Designation_3
0,1,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,-1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,-1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,1,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,1.0,0.0,0.0,0.0
4875,1,-1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4876,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4877,1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4878,1,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,0.0,1.0,0.0,0.0

## Hash encoder

In [35]:
enc_hash = ce.HashingEncoder(cols=cat_data.columns)

In [37]:
data_enc_hash=enc_hash.fit_transform(cat_data)

In [38]:
data_enc_hash

      col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0         1      1      0      0      0      0      2      2
1         1      2      0      0      0      2      1      0
2         0      0      0      0      2      1      1      2
3         0      2      0      0      2      1      0      1
4         0      0      0      0      2      3      0      1
...     ...    ...    ...    ...    ...    ...    ...    ...
4874      1      0      0      0      0      2      2      1
4875      0      2      0      0      2      1      1      0
4876      0      1      0      1      0      1      0      3
4877      0      0      0      0      2      2      1      1
4878      0      1      0      0      2      1      1      1

[4879 rows x 8 columns]

## Binary encoder
its useless here though

In [39]:
enc_binary = ce.BinaryEncoder(cols=cat_data.columns)

In [40]:
enc_binary.fit_transform(cat_data)

,TypeofContact_0,TypeofContact_1,Occupation_0,Occupation_1,Occupation_2,Gender_0,Gender_1,ProductPitched_0,ProductPitched_1,ProductPitched_2,MaritalStatus_0,MaritalStatus_1,MaritalStatus_2,Designation_0,Designation_1,Designation_2
0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1
1,1,0,0,0,1,1,0,0,0,1,0,1,0,0,0,1
2,0,1,0,1,0,1,0,0,1,0,0,0,1,0,1,0
3,1,0,0,0,1,0,1,0,1,0,0,1,0,0,1,0
4,0,1,0,1,1,1,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,0,1,0,1,1,1,0,0,0,1,1,0,0,0,0,1
4875,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0
4876,0,1,0,0,1,0,1,0,1,1,0,1,1,0,1,1
4877,0,1,0,1,1,1,0,0,1,0,0,0,1,0,1,0
4878,0,1,0,0,1,1,0,0,1,0,1,0,0,0,1,0

## Base-N encoding

In [41]:
enc_baseN = ce.BaseNEncoder(cols=cat_data.columns,return_df=True,base=5)

In [43]:
data_enc_baseN=enc_baseN.fit_transform(cat_data)

In [44]:
data_enc_baseN

,TypeofContact_0,Occupation_0,Gender_0,ProductPitched_0,ProductPitched_1,MaritalStatus_0,Designation_0,Designation_1
0,1,1,1,0,1,1,0,1
1,2,1,2,0,1,2,0,1
2,1,2,2,0,2,1,0,2
3,2,1,1,0,2,2,0,2
4,1,3,2,0,2,2,0,2
...,...,...,...,...,...,...,...,...
4874,1,3,2,0,1,4,0,1
4875,2,1,2,0,2,1,0,2
4876,1,1,1,0,3,3,0,3
4877,1,3,2,0,2,1,0,2
4878,1,1,2,0,2,4,0,2

# Turning encoded values to csv

In [56]:
import os
os.makedirs('encoded')

In [57]:
data_enc_baseN.to_csv('encoded/data_enc_baseN.csv')

In [58]:
data_enc_effect.to_csv('encoded/data_enc_effect.csv')

In [59]:
data_enc_hash.to_csv('encoded/data_enc_hash.csv')

In [60]:
data_enc_oh.to_csv('encoded/data_enc_oh.csv')

In [61]:
data_enc_toc.to_csv('encoded/data_enc_toc.csv')