In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
import warnings
warnings.simplefilter('ignore')

In [2]:
data = pd.read_csv('final csv/num_cat_combined1.csv')
data.head()

,Unnamed: 0,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome,TypeofContact_Self Enquiry,TypeofContact_Company Invited,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [3]:
data.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [4]:
data.head()

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome,TypeofContact_Self Enquiry,TypeofContact_Company Invited,Occupation_Salaried,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
data.columns

Index(['CustomerID', 'Age', 'DurationOfPitch', 'NumberOfFollowups',
       'NumberOfTrips', 'NumberOfChildrenVisiting', 'MonthlyIncome',
       'TypeofContact_Self Enquiry', 'TypeofContact_Company Invited',
       'Occupation_Salaried', 'Occupation_Free Lancer',
       'Occupation_Small Business', 'Occupation_Large Business',
       'Gender_Female', 'Gender_Male', 'Gender_Fe Male',
       'ProductPitched_Deluxe', 'ProductPitched_Basic',
       'ProductPitched_Standard', 'ProductPitched_Super Deluxe',
       'ProductPitched_King', 'MaritalStatus_Single', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Unmarried',
       'Designation_Manager', 'Designation_Executive',
       'Designation_Senior Manager', 'Designation_AVP', 'Designation_VP'],
      dtype='object')

# Splitting the data into train and test dataset

In [63]:
from sklearn.model_selection import train_test_split
x = ['Age', 'DurationOfPitch', 'NumberOfFollowups','NumberOfTrips', 'NumberOfChildrenVisiting', 'MonthlyIncome','TypeofContact_Self Enquiry', 'TypeofContact_Company Invited', 'MaritalStatus_Single', 'MaritalStatus_Divorced','MaritalStatus_Married', 'MaritalStatus_Unmarried','Designation_Manager', 'Designation_Executive','Designation_Senior Manager', 'Designation_AVP', 'Designation_VP']
y = ['Occupation_Salaried', 'Occupation_Free Lancer','Occupation_Small Business', 'Occupation_Large Business']
feat_x = data[x]
feat_y = data[y]
x_train, x_test, y_train, y_test = train_test_split(feat_x, feat_y, test_size = 0.03)

# Classification using various models
## 1. Random Forest

In [64]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 1000)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.5714285714285714

## 2. Dicision Tree

In [65]:
from sklearn.tree import DecisionTreeClassifier
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(x_train, y_train)
y_pred= classifier.predict(x_test)
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.7210884353741497

## 3. K-Nearest Neighbour

In [62]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=3, metric='minkowski', p=2 )  
classifier.fit(x_train, y_train)
y_pred= classifier.predict(x_test)
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.47540983606557374

## 4. Naive Bayes

In [58]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(x_train, y_train).predict(x_test)
print("Number of mislabeled points out of a total %d points : %d"%(x_test.shape[0], (y_test != y_pred).sum()))
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ValueError: y should be a 1d array, got an array of shape (4635, 4) instead.